

.page .gform_wrapper.gravity-theme {
	.gform_required_legend {
		margin-bottom: 1.5rem;
	}
	& .gform_fields {
		grid-row-gap: 1rem;
		font-weight: 400;
	}
	& .ginput_complex label,
	& .gfield_label {
		font-size: 1.125rem;
		font-weight: 400;
		margin-bottom: 0.25rem;
	}

	& .ginput_complex {
		row-gap: 0.5rem;
	}
	& .gfield_checkbox,
	& .gfield_radio {
		& label {
			font-size: 1.125rem;
		}
	}
	& select {
		padding: var(--padding-button) !important;
	}
	& .gsection {
		border: none;
		padding: 0;
		margin-top: 1.5rem;
	}
	& .gfield_required {
		font-size: 1rem;
		color: var(--color-error);
	}
	.ginput_container_checkbox {
		margin-top: 1rem;
		& .gfield_checkbox {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
	.gfield--choice-align-horizontal {
		.ginput_container_checkbox {
			& .gfield_checkbox {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				& .gchoice {
					display: flex;
				}
			}
		}
	}
	& .ginput_container_consent,
	& .gchoice {
		display: flex;
		align-items: flex-start;
		gap: 0.5rem;
		& p {
			margin-top: 4px;
			margin-bottom: 1.5rem;
		}
		& .amount {
			line-height: 1;
		}
	}
	& .gfield-choice-input {
		display: grid;
		margin-top: 3px;
	}

	& .gfield--choice-align-horizontal {
		& .gfield_radio {
			display: flex;
			& .gchoice {
				display: flex;
			}
		}

	}

	/** Show the asterisk on sub labels, hide the default
		unless .show-required is added to the field **/
	& .gfield_contains_required {
		& .gform-field-label--type-sub {
			&::after {
				content: " *";
				font-size: 1rem;
				color: var(--color-error);
			}
		}
		&:not(.show-required) {
			& .gfield_label_before_complex {
				& .gfield_required {
					display: none;
				}
			}
		}
		&.gfield--type-choice {
			& .gfield_required {
				display: inline-block !important;
			}
		}
	}

	& .amount,
	& .gsection_title {
		font-size: var(--font-size-h5);
		font-weight: 800;
		font-family: var(--wp--preset--font-family--headings);
		color: var(--wp--preset--color--header);
		margin-bottom: 0;
		margin-top: 0;
	}
	hr {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
}


@media only screen and (max-width: 641px) {
	.gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
		line-height: 1;
		min-height: 32px;
	}
}

.gform_wrapper.gravity-theme .field_description_above .description, .gform_wrapper.gravity-theme .field_description_above .gfield_description, .gform_wrapper.gravity-theme .field_description_above .gsection_description, .gform_wrapper.gravity-theme .field_description_above .instruction {
	margin-top: 0;
	padding: 0;
}
