/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-branding {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.25rem 0.75rem;

	& img {
		max-width: var(--header-image-width);
		margin: 0 auto;
	}
}

.site-title {
	margin: 0;
	font-family: var(--headings-font-family);
	font-size: calc(100vw / 17);
	line-height: 1.2;
	color: #333332;
	white-space: nowrap;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

.site-header--inner {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-search-wrapper {
	display: none;
}

.header-search {
	width: 100%;
	border-bottom: 1px solid $colorBorders;
	background-color: var(--wp--preset--color--background);
}
.header-nav-wrapper {
	display: flex;
}

.menu-extras {
	padding: 1.0625rem 1.875rem;
}

.site-header {
	& .search-form {
		padding: 0;
		border-top: 2px solid $colorBorders;
		border-bottom: 2px solid $colorBorders;
		& button {
			border: none;
			color: var(--wp--preset--color--contrast);
			background: transparent;
			&:after {
				content: " ";
				display: block;
				width: 22px;
				height: 22px;
				mask-image: url("../../images/search.svg");
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: contain;
				background-color: currentColor;
			}
		}
		& input[type="text"] {
			border: none;
			padding: 1.5rem 1.5625rem;
		}
	}
	.gtranslate_wrapper {
		position: relative;
		height: 32px;
		width: 200px;


		& .gt_switcher {
			font-family: var(--wp--preset--font-family--headings) !important;

			font-weight: 500 !important;
			position: absolute;
			top: 0;
			right: 0;
			& a {
				font-weight: 500 !important;
				font-size: 14px;
				line-height: 1.15;
			}
		}
	}
}



@media (--wide-menu-query) {

	.site-header--inner {
		display: grid;
		grid-template-columns: calc(var(--header-image-width) + 2vw) 1fr;
		grid-template-areas:
			"branding topnav"
			"mainnav mainnav";

		width: 100%;
	}

	.site-branding {
		grid-area: branding;
		justify-content: center;
		align-items: center;
		padding-bottom: 0;
	}

	.header-top {
		grid-area: topnav;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 5px;
	}

	.header-nav-wrapper {
		grid-area: mainnav;
		align-items: center;
		justify-content: flex-end;
		background-color: $colorNavBackground;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.header-search-wrapper {
		margin-top: 0;
		margin-bottom: 0;
		border-left: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex:  1 1 auto;

	}

	button.search-toggle {
		padding: var(--padding-button);
		background-color: transparent;
		border: none;
		min-width: auto;
		color: inherit;
		display: flex;
		gap: 0.5rem;
	}

	.nav--toggled-on .header-search {
		visibility: visible;
		height: 90px;
		transition-delay: 0s;
	}

	.header-search {
		width: 100vw;
		border: 1px solid $colorBorders;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		border-top: 6px solid var(--wp--preset--color--accent-2);
		z-index: 200;
		visibility: hidden;
		height: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		max-width: 425px;
		transition: visibility 0s 0.6s, height 0.5s;
		transition-delay: 0s;
		top: 100%;

		& button {
			font-size: 22px;
		}

		& .search-form {
			border: none;
		}
	}

	.site-header {
		width: 100%;
	}
	.after-navigation__inner {
		& > .wp-block-group {
			display: flex;
			flex-direction: column-reverse;
		}
	}

}

@media (--desktop-up) {

	.navigation-left,
	.navigation-right {
		align-self: center;
	}
	.site-branding {
		padding: 0;
	}


	.site-header--inner {
		grid-template-areas:
			"topnav topnav"
			"branding mainnav";

		width: 100%;
	}

}

@media (--desktop-wide-up) {
	.site-header--inner{
		padding-left: 3rem;
	}
	.header-nav-wrapper {
		padding-right: 3rem;
	}
}


.site-header .wp-block-button__link {
	white-space: nowrap;
}