@media (--mobile-only) {

	.center-mobile {
		display: flex;
		justify-content: center;
	}

	.hidden-mobile {
		display: none;
	}
}

@media (--tablet-up) {

	.hidden-tablet-up {
		display: none;
	}

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}
}



.edit-link {
	font-size: 12px;
	font-weight: 400;
	&.hide-frontend {
		display: none;
	}
}