.page-content {
	& > *:first-child {
		margin-top: var(--wp--preset--spacing--30);
	}

	& > * {
		margin-right: auto;
		margin-left: auto;
		max-width: var(--wp--style--global--content-size);

		&.wp-block-cover,
		&.wp-block-group {
			margin-top: var(--wp--preset--spacing--80);
		}

		&.alignwide,
		&.woocommerce[class*="columns-"] {
			max-width: var(--wp--style--global--wide-size);
		}

		&.alignfull {

			max-width: none;
		}
		&:last-child {
			margin-bottom: var(--wp--preset--spacing--70);
			&.alignfull,
			&.wp-block-media-text.has-background,
			&.wp-block-cover {
				margin-bottom: 0;
			}
		}

	}
	& li {
		margin-bottom: 0.3rem;

		& ul,
		& ol {
			margin-top: 0.3rem;
		}
	}
	& > .list-inline {
		margin-right: auto;
		margin-left: auto;
		max-width: var(--wp--style--global--content-size);
	}

	& > *.alignfull.has-background {
		padding-top: var(--wp--preset--spacing--80);
		padding-bottom: var(--wp--preset--spacing--80);
		+ .wp-block-media-text.has-background,
		+ .alignfull.has-background {
			margin-top: 0;
		}
	}

	& > *.wp-block-cover + .alignfull.has-background {
		margin-top: 0;
	}


}

.wp-block-heading {
	+ .wp-block-paragraph {
		margin-top: var(--wp--preset--spacing--40);
	}
}
.wp-block-paragraph + .wp-block-buttons {
	margin-top: var(--wp--preset--spacing--40);
}


.home .page-content > [class*="wp-block-"]:first-child {
	margin-top: 0;
}

:where(.wp-block-group.has-background) {
	padding: $spacingDefault var(--gutter-width-page-wide);
}


.carkeek-events-archive-block.alignfull {
	& > * {
		max-width: var(--wp--style--global--content-size);
		margin-left: auto;
		margin-right: auto;
	}
}

.resources__header {
	& > * {
		margin-right: auto !important;
		margin-left: auto !important;
		max-width: var(--wp--style--global--content-size);

	}

}


.single-entry.page-content {
	& > :first-child {
		margin-top: 0;
	}
}

@media (--tablet-up) {

	.page-content > {

		& h1,
		& h2,
		& h3,
		& p,
		& h4,
		& h5,
		& h6 {

			& + .wp-block-image {
				margin-top: var(--wp--preset--spacing--xsmall);
			}
		}
	}
}

.image-caption {
	font-size: var(--font-size-caption);
	color: #fff;
	font-weight: var(--font-weight-light);
	font-style: italic;
}

.post-thumbnail {

	& .image-caption {
		padding: 0.25rem;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)), :where(.wp-block-navigation.has-background .wp-block-navigation-submenu a:not(.wp-element-button)) {
	padding: var(--padding-button);
	line-height: 1.25;
}
