.print-only {
	display: none;
}

@media print {

	.print-only {
		display: block;
	}

	.site-header,
	.page-header .post-thumbnail,
	.footer-main {
		display: none;
	}
	.entry-footer,
	.social-share-links {
		display: none;
	}


	.site-header .site-description {
		display: block;
		position: relative;
	}

}
