
.has-primary-background-color,
.has-secondary-background-color,
.has-accent-1-background-color,
.has-contrast-background-color {
	color: $white;
	& .wp-block-button .wp-block-button__link {
		background-color: $white;
		color: $colorLink;
		&:hover {
			background-color: $colorLink;
			color: $white;
		}
	}

	& svg,
	& .wp-block-button.is-style-arrow-link .wp-block-button__link,
	& :--heading:not(.has-text-color),
	& a,
	& a:hover,
	& a:visited {
		color: $white;
	}

}
.has-white-transparent-background-color,
.has-white-background-color {
	color: $global;
}

.cks-expand-button {
	border: none;
	background: transparent;
	font-family: var(--wp--preset--font-family--headings-sans);
	color: var(--wp--preset--color--grey);
	text-transform: uppercase;
	font-weight: 900;
	padding: 0;
	margin-top: var(--wp--preset--spacing--30);
	&:hover {
		color: var(--wp--preset--color--accent);
		cursor: pointer;
		background: transparent;
	}
}

.carkeek-archive {
	& .ck-custom-archive-title_link {
		margin: 0;
		font-size: var(--font-size-h4);
		line-height: 1.125;
		color: $colorLink;
		font-weight: 700;
	}
	& .ck-custom-archive-title-header {
		line-height: 1;
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--20);
		& .ck-custom-archive-title_link {
			font-size: var(--font-size-h3);
			font-weight: 800;
		}
	}

	& .modal__content {
		max-width: 600px;
	}
	& .modal__close-btn--inner {
		color: $primary;
		background-color: transparent;
		border-radius: 0;
		&:hover {
			background-color: $primary;
			color: #fff;
		}
	}

	& .modal-body {
		padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);
		& img {
			width: 100%;
			height: auto;
			aspect-ratio: 1;
			object-fit: cover;
		}
		& .ck-modal-item-name {
			font-family: var(--wp--preset--font-family--headings);
			font-weight: 700;
			font-size: var(--font-size-h6);
			color: $accent1;
			margin: 0;

		}
	}
	& .modal-footer {
		display: none;
	}
}

@media (--tablet-up) {
	.carkeek-archive {
		& .modal-body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: var(--wp--preset--spacing--30);

			& .ck-modal-item-details {
				grid-column: span 2;
			}
			& .ck-modal-item-header {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}
	}
}


.carkeek-archive.is-grid {
	--modal-header-padding: 0;
	& .ck-custom-archive-title-header {
		& .ck-custom-archive-title_link {
			font-family: var(--wp--preset--font-family--headings);
			font-size: var(--font-size-h5);
		}
	}

	& .ck-modal-item-image:hover {
		& .ck-custom-archive-title_link {
			text-decoration: underline;
		}
	}
	& .ck-custom-archive-title_link:hover {
		& .ck-custom-archive-title {
			text-decoration: underline;
		}
	}

	span.people-job-title {
		display: block;
	}
}

.carkeek-archive.aligncenter {
	& .ck-columns__item {
		text-align: center;
	}
}

.ck-custom-archive-item-meta-before-excerpt-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.3rem;
}

.wp-block-carkeek-blocks-extended-gallery {
	--slide-gutter: var(--wp--preset--spacing--20);
	& .ck-lightbox-overlay {
		& .wp-block-heading, .wp-block-paragraph {
			text-shadow: 0 0 8px rgba(0, 0, 0, 0.50);
		}
	}
	& ul.slick-slider figcaption {
		color: var(--color-caption);
	}
}

/** Single Slider **/
.wp-block-carkeek-blocks-extended-gallery.is-style-single {
	--slide-gutter: 0;
}


.carkeek-archive.is-fit {
	& a.ck-custom-archive-title_link:hover {
		text-decoration: none;
	}
}
.wp-block-carkeek-blocks-custom-archive.empty {
	padding: var(--wp--preset--spacing--80);
	text-align: center;
}

.wp-block-carkeek-blocks-custom-archive.is-ul {
	& .ck-custom-archive-list-item {
		margin-bottom: 1rem;
	}
}

.wp-block-carkeek-blocks-custom-archive.is-list {
	& .ck-columns-item {
		& .ck-custom-archive-title-header {
			margin-bottom: 0;
		}
		& .ck-custom-archive-title_link {
			line-height: 1.125;
		}
		& .entry-parent-link {
			color: var(--wp--preset--color--primary);
		}
		& .ck-custom-archive-item-date {
			font-size: 0.9375rem;
			font-weight: 600;
			display: block;
		}

	}
	& .ck-custom-archive__content-wrap {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	&.is-style-borders.alignfull {
		padding-top: 0;
		padding-bottom: 0;
		& .ck-custom-archive__list {
			max-width: none;
		}
		& .ck-columns-item {
			margin-left: var(--gutter-width-page);
			margin-right: var(--gutter-width-page);
			padding-bottom: var(--wp--preset--spacing--50);

		}
	}
}
.wp-block-carkeek-blocks-custom-archive.is-list.is-style-borders {
	border-top: 1px solid var(--color-border);
	& .ck-columns-item {
		padding-bottom: var(--wp--preset--spacing--50);
		margin: 0;
		margin-bottom: var(--wp--preset--spacing--50);
		border-bottom: 1px solid var(--color-border);
		&:last-child {
			border-bottom: none;
		}
	}
}

.wp-block-carkeek-blocks-custom-archive.is-list.is-style-feature-first {
	& .ck-columns-item:first-child {
		background-color: var(--wp--preset--color--grey-light);
		margin-left: 0;
		margin-right: 0;
		padding: var(--wp--preset--spacing--80) var(--gutter-width-page-wide);
		margin-bottom: var(--wp--preset--spacing--80);
		border-bottom: 1px solid var(--color-border);
		& .ck-custom-archive-title-header .ck-custom-archive-title_link {
			font-size: var(--font-size-h2);
		}
	}
	& .ck-custom-archive-title-header a {
		color: var(--wp--preset--color--header);
	}

}


@media (--tablet-up) {

	.wp-block-carkeek-blocks-custom-archive.is-list {
		& .ck-columns-item {
			gap: var(--wp--preset--spacing--50);
			align-items: center;
		}

		& .ck-custom-archive-image-link {
			margin: 0;
		}
		& .ck-custom-archive__content-wrap {
			gap: 1rem;
		}

	}

	.wp-block-carkeek-blocks-custom-archive.is-list.post-type-post {
		& .ck-columns-item {
			flex-direction: row-reverse;
			&:nth-child(even) {
				flex-direction: row;
			}
		}
		& .ck-custom-archive-image-link {
			flex: 1 1 50%;
		}
		& .ck-custom-archive__content-wrap {
			flex: 1 1 50%;
		}
	}
	.carkeek-archive.is-fit .ck-custom-archive__list:has(:nth-last-child(n + 3)) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-carkeek-blocks-custom-archive.is-grid {
		&.is-style-borders {
			& .ck-columns-item {
				position: relative;
				&:after {
					content: '';
					display: block;
					height: 100%;
					background-color: var(--color-border);
					width: 1px;
					position: absolute;
					top: 0;
					right: calc(-1* (var(--ck-column-gap) / 2));
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}


.carkeek-events-archive {
	& .carkeek-event-card__content {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
	}
	& .carkeek-event-card__slot {
		&--date {
			font-family: var(--wp--preset--font-family--headings);
			font-weight: 700;
			font-size: var(--font-size-h3);
			color: $primary;
		}
		&--title {
			font-family: var(--wp--preset--font-family--headings-sans);
			font-weight: 600;
			font-size: var(--font-size-h4);
			color: $accent1;
			& a {
				font-weight: 600;
			}
		}
	}
	& .ck-event-block-featured {
		font-family: var(--wp--preset--font-family--headings-sans);
		font-weight: 800;
		font-size: 1.125rem;
		text-transform: uppercase;
	}
}

.wp-block-carkeek-events-archive.has-secondary-background-color {
	& .carkeek-event-card__slot {
		&--date {
			color: $white;
		}
	}
}

.carkeek-events-archive__list.is-list {
	& .carkeek-event-card {
		display: flex;
		@media (--tablet-up) {
			flex-direction: row-reverse;
		}
	}
}

.ck-custom-archive__load-more-wrap {
	margin-bottom: var(--wp--preset--spacing--50) !important;


}

.wp-block-carkeek-blocks-accordion {
	--ck-color-accordion-header-bg: transparent;
	--ck-accordion-panel-spacing: 0;
	--ck-accordion-panel-bg: transparent;
	--ck-color-accordion-header-focus-bg: transparent;
	--ck-color-accordion-header-focus-text: var(--wp--preset--color--accent-1);
	--ck-color-accordion-header-expanded-bg: transparent;
	--ck-accordion-borders: 1px solid var(--color-border);
	& .accordion__heading {
		border-top: none;
		font-family: var(--wp--preset--font-family--headings);
		font-weight: 800;
		font-size: var(--font-size-h5);
		color: $primary;
		&:hover {
			color: $accent1;
		}
		&:first-child {
			border-top: var(--ck-accordion-borders);
		}
	}
}

.ck-archive-tax-header {
	font-family: var(--wp--preset--font-family--headings);
	font-weight: 800;
	font-size: var(--font-size-h3);
	color: $primary;
	margin-bottom: var(--wp--preset--spacing--40);
}

.wp-block-carkeek-blocks-custom-archive.is-style-table {
	& .ck-columns-item {
		border-top: 1px solid var(--color-border);
		padding-top: var(--wp--preset--spacing--20);
		padding-bottom: var(--wp--preset--spacing--30);
		margin: 0;
		& .ck-custom-archive-title_link {
			font-family: var(--wp--preset--font-family--global);
			font-size: var(--wp--preset--font-size--base);
			color: $colorLink;
			&:hover {
				text-decoration: underline;
			}
		}
		& .ck-custom-archive__content-wrap {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		@media (--tablet-up) {
			& .ck-custom-archive-image-link {
				margin: 0;
			}
			& .ck-custom-archive__content-wrap {
				flex-direction: row;
				gap: var(--wp--preset--spacing--30);
				& > * {
					flex: 1 1 50%;
				}
			}
		}
	}
}


@media (hover: hover) {
	.wp-block-carkeek-blocks-extended-gallery {
		& .slick-play {
			opacity: 0;
		}
		&:hover {
			& .slick-play {
				opacity: 1;
			}
		}
	}
}
