@use "abstracts" as *;
@use "base";
@use "components";

html {
	background-color: $white;
}

body {
	max-width: $width--content;
	padding: $space-3 $space-2;

	@include flow;
}

a.button.button.button {
	@include button;
}
