/*
 * Selectors reference: https://github.com/mrwweb/wordpress-block-editor-theme-support-starter/blob/master/block-editor-styles.css
 */
@use "sass:meta";
@use "abstracts" as *;

:where(.editor-styles-wrapper) {
	@include meta.load-css("base");
}

:root .editor-styles-wrapper {
	@include meta.load-css("blocks");

	/**
	* Global Styles
	*/
	/* Match Front-end box-sizing */
	& {
		box-sizing: border-box;
	}

	/* Vertical space between top-level blocks */
	.block-editor-block-list__layout.is-root-container {
		@include flow;

		& {
			margin-block: $space-10;
		}
	}

	/**
	 * Post Title
	 */
	.edit-post-visual-editor__post-title-wrapper {
	}

	/**
	 * Alignments
	 */
	.alignwide {
		@include alignwide;
	}

	.alignfull {
		@include alignfull;
	}

	@media (min-width: 37.5em) {
		.alignleft,
		.alignright {
			width: 45%;
			max-width: 22rem !important;

			&:first-child + * {
				margin-top: 0;
			}
		}

		.alignleft {
			float: left !important;
			margin-inline-end: $gap !important;
			margin-block-end: $gap;
		}
		.is-root-container > .alignleft {
			margin-inline-start: calc(
				(100% - $width--content) / 2
			) !important;
		}

		.alignright {
			float: right !important;
			margin-inline-start: $gap !important;
			margin-block-end: $gap;
		}
		.is-root-container > .alignright {
			margin-inline-end: calc(
				(100% - $width--content) / 2
			) !important;
		}
	}

	/**
	 * Editor-specific Block Styles
	 */
	.is-style-screen-reader-text {
		opacity: 0.5;
		transition: opacity 0.15s;
	}

	.is-style-screen-reader-text:hover,
	.is-style-screen-reader-text:focus {
		opacity: 1;
	}

	.is-style-screen-reader-text::before {
		/* ::after is used by the block editor */
		display: inline-block;
		width: 32px;
		height: 32px;
		font-size: 32px;
		line-height: 1;
		margin-left: 16px;
		color: currentColor;
		font-family: "Dashicons";
		content: "\f530";
	}

	@media (min-width: 1200px) {
		.is-style-screen-reader-text {
			/* Center align icon with text regardless of size*/
			display: flex;
			align-items: center;
		}
		.is-style-screen-reader-text::before {
			float: none;
			margin-right: 16px;
			margin-left: -48px;
		}
	}

	/**
	 * Block Fixes
	 */
	/* File block doesn't match front-end styles in core??? */
	.wp-block-file__content-wrapper > * + * {
		margin-left: 0.75em;
	}
}
