@use "../abstracts/" as *;

/* Text meant only for screen readers. */
.screen-reader-text,
.site .is-style-screen-reader-text // apply on on front-end
{
	@include screen-reader-text;
}

.skip-link {
	@include button;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Strong default focus styles */
:focus {
	outline-offset: 2px !important;
	outline-offset: var(--focus-outline-offset, 2px) !important;
	outline-style: solid !important;
	outline-width: 2px !important;
	outline-color: var(--focus-outline-color, #{$primary}) !important;
	box-shadow: 0 0 0 6px var(--focus-outline-color, #{$white}) !important;
}

:focus:not(:focus-visible) {
	outline: 0 !important;
	box-shadow: none !important;
}

/* Honor Reduced Motion Requests */
@media (prefers-reduced-motion: reduce), (update: slow) {
	*,
	*::before,
	*::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
