@use "../../abstracts/" as *;

// Automatically add padding to blocks/elements without innerBlocks (and Cover block)
.has-background:where(p, ul, ol, h1, h2, h3, h4, h5, h6, blockquote),
.wp-block-cover {
	padding: $space-4;

	.is-root-container > &.alignfull {
		padding: $space-7;
	}
}

.has-background.wp-block-group,
.wp-block-media-text.has-background > .wp-block-media-text__content {
	display: flow-root; /* Required to contain child margins by creating new block formatting context */
	padding: 0 $space-6;

	> :first-child:not(.alignfull) {
		margin-block-start: $space-6;
	}
	> :last-child:not(.alignfull.has-background),
	> :has(+ .block-list-appender) {
		margin-block-end: $space-6;
	}
}

.has-background.is-block-column,
.wp-block-media-text.has-background > .wp-block-media-text__content,
.is-layout-grid > .wp-block-group.has-background {
	display: flow-root;
	padding: 0 $space-3;

	> :first-child:not(.alignfull) {
		margin-block-start: $space-3;
	}
	> :last-child:not(.alignfull.has-background),
	> :has(+ .block-list-appender) {
		margin-block-end: $space-3;
	}
}

/* name, color, contrasting text */
/* prettier-ignore */
$colors:
	"primary" $primary $white,
	"secondary" $secondary $white,
	"gray-dark" $gray-dark $white,
	"contrast" $black $white,
	"accent" $accent null,
	"gray-light" $gray-light null,
	"gray" $gray null,
	"base" $white null;

/**
 * Background and text colors are auto-output by theme.json
 *
 * This takes care of setting better default colors and other fine-tuning
 */
@each $name, $color, $text in $colors {
	.has-#{$name}-background-color {
		color: $text;
	}
}

/* Things that inherit text color when set */
.has-background:not(
		.has-base-background-color,
		.has-accent-background-color,
		.has-gray-light-background-color
	),
.has-text-color {
	h2,
	h3,
	h4,
	h5,
	h6,
	a:not(.wp-block-button__link),
	a:not(.wp-block-button__link):hover,
	a:not(.wp-block-button__link):focus,
	a:not(.wp-block-button__link):active,
	::marker {
		color: inherit;
	}
}
