/* Theme Color Palette */
$primary: var(--wp--preset--color--primary);
$secondary: var(--wp--preset--color--secondary);
$accent: var(--wp--preset--color--accent);
$gray-dark: var(--wp--preset--color--gray-light);
$gray: var(--wp--preset--color--gray);
$gray-light: var(--wp--preset--color--gray-light);
$base: var(--wp--preset--color--base);
$contrast: var(--wp--preset--color--contrast);
$white: $base;
$black: $contrast;
$error: var(--wp--custom--color--error);
$warning: var(--wp--custom--color--warning);
$message: var(--wp--custom--color--message);
$success: var(--wp--custom--color--success);
$required: var(--wp--custom--color--required);

/* Functional Color Palette */
$color__text-main: $primary;
$color__background-hr: $gray-light;
$color__background-button: $gray-light;
$color__background-pre: $gray-light;
$color__background-ins: $message;

$color__border-input: $gray;
$color__border-abbr: $gray;
