$space-1: var(--wp--preset--spacing--10); // .375rem
$space-2: var(--wp--preset--spacing--20); // .5rem
$space-3: var(--wp--preset--spacing--30); // .75rem
$space-4: var(--wp--preset--spacing--40); // .9375rem
$space-5: var(--wp--preset--spacing--50); // 1.25rem - CENTER POINT
$space-6: var(--wp--preset--spacing--60); // 1.75rem
$space-7: var(--wp--preset--spacing--70); // 2.3125rem
$space-8: var(--wp--preset--spacing--80); // 3.125rem
$space-9: var(--wp--preset--spacing--90); // 4.125rem
$space-10: var(--wp--preset--spacing--100); // 5.625rem

$gap: var(--wp--custom--spacing--gap);
