@use "../abstracts/" as *;

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $space-4;
}

.site-title {
	align-self: center;
	font-size: inherit;

	a {
		display: block;
	}
}
