# Ignore all plugins
*
# Except this file
!.gitignore

!carkeek-site-blocks/
!carkeek-site-blocks-mapped-posts/
!carkeek-site-blocks/**
!carkeek-site-blocks-mapped-posts/**
!volunteer-event-management/
!volunteer-event-management/**