@use "../../abstracts/" as *;

// Don't auto-adjust font-size on iOS
html {
	text-size-adjust: none;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

pre {
	background: $color__background-pre;
	font-family: $font__monospace;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__monospace;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

@media (forced-colors: active) {
  mark {
    color: HighlightText;
    background-color: Highlight;
  }
}

q,
blockquote {
	hanging-punctuation: first allow-end;
}

::selection {
	text-shadow: none !important;
	background: $primary;
	color: $base;
}
