@import "../../global/src/_custom-vars.css";


.wp-block-column {

	&.is-style-stretch {
		display: flex;
		flex-direction: column;

		& .wp-block-group {
			flex-grow: 1;
			justify-content: space-between;
		}
	}


}

@media (max-width: 781px) {
	.wp-block-columns {
		&.is-style-mobile-full {
			max-width: 100%;
		}
		&.is-style-reverse-mobile {
			flex-direction: column-reverse;

			& .wp-block-column {
				height: auto;
				overflow: hidden;
			}
		}
	}
	.wp-block-column {

		&.is-style-center-mobile {
			text-align: center;

			& img {
				margin-left: auto;
				margin-right: auto;
			}

			& .is-layout-flex {
				justify-content: center;
			}
		}

		&.is-vertically-aligned-bottom {
			align-self: flex-start;
		}

		& .is-content-justification-right {
			justify-content: flex-start !important;
		}

	}
}

@media (min-width: 768px) {

	.wp-block-columns {


		&.is-style-borders {
			column-gap: var(--wp--preset--spacing--50);

			& .wp-block-column {
				position: relative;

				&::after {
					content: "";
					height: 100%;
					width: 1px;
					position: absolute;
					top: 0;
					right: calc(-1*var(--wp--preset--spacing--50)/2);
					background-color: var(--wp--preset--color--grey-med);
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}

	}

}

