.footer-main > .wp-block-group,
.page-content > .wp-block-group {


	.wp-block-group {

		&.is-content-justification-center {
			text-align: center;
		}
	}

}

.wp-block-group {
	&.is-style-equal-height {
		height: 250px;
		width: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: relative;
		margin: 0 auto;
		padding: 1rem;
		& > * {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
