@import "../../global/src/_custom-media.css";
@import "../../global/src/_custom-vars.css";

.wp-block-image {

	&:not(.is-resized),
	&.alignright:not(.is-resized),
	&.alignleft:not(.is-resized) {

		& img {
			width: 100%;
		}
	}

	&.aligncenter {

		& img {
			margin-left: auto;
			margin-right: auto;
		}
	}

	& figcaption {
		font-size: 1rem;
		color: $global;
		font-style: italic;
	}

}

.page-content > .wp-block-image {

	& figcaption {
		padding-right: var(--gutter-width-page);
		padding-left: var(--gutter-width-page);
	}
}

@media (--tablet-up) {

	.wp-block-image {

		&.alignleft:not(.is-resized),
		&.alignright:not(.is-resized) {
			max-width: 50%;
		}

		& figcaption {
			text-align: center;
		}

		&.alignleft {
			padding-right: 1rem;
			padding-left: var(--gutter-width-page);


			& figcaption {
				padding-right: 1rem;
				padding-left: var(--gutter-width-page);
				text-align: left;
				display: block;
			}
		}

		&.alignright {
			padding-left: 1.75rem;
			padding-right: var(--gutter-width-page);


			& figcaption {
				padding-left: 1.75rem;
				padding-right: var(--gutter-width-page);
				text-align: right;
				display: block;
			}
		}
	}
}
