.wp-block-pullquote {
	border: none;

	& p {
		font-size: var(--wp--preset--font-size--x-large);
		font-weight: 400;
		line-height: 1.6;
	}
	& cite {
		font-size: var(--wp--preset--font-size--base);
		text-transform: none;
		font-weight: 300;
		font-style: italic;
	}
}
