@use "../../abstracts/" as *;

.comments-area {
	margin-block-end: $space-10;
}

.comment-form,
.comment-respond {
	@include flow;
}

.comment-content a {
	word-wrap: break-word;
}

.logged-in-as {
	font-size: $font-size-xs;
}

.bypostauthor {
	display: block;
}
