ul,
ol {
	margin-inline-start: 2em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-inline-start: 2em;
}

dt {
	font-weight: 700;
}

dd {
	margin-inline-start: 2em;
}
