@use "../../abstracts/" as *;

html {
	box-sizing: border-box;
	scrollbar-gutter: stable;
	overflow-x: hidden;
	scroll-padding-top: 3rem;
	scroll-behavior: smooth;
	font-size: 0.9375em;

	/* Honor accessibility preferences */
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}

	/* Adjust font-size for subtle fluid-type-like effect without accessibility concerns of clamp() */
	@include mq($bp--large) {
		font-size: 1em;
	}
	@media (min-width: 90em) {
		font-size: 1.0625em;
	}
	@media (min-width: 110em) {
		font-size: 1.125em;
	}
}

body {
	overflow-x: hidden;
}

html:has(dialog[open]),
body:has(dialog[open]) {
	overflow: hidden;
}
